- content_for :javascript do
  initialize_send_message_form('#{I18n.locale}', '#{free_conversation? ? "free" : Listing.opposite_type(@listing.direction)}');

- other_party = @conversation.other_party(@current_user)

- if @conversation.listing
  - listing_title = @conversation.listing.title
  - short_title = listing_title
  - long_title = if @conversation.listing.author != @current_user
    - t("conversations.show.listing_by", listing_title: link_to(listing_title, @conversation.listing), listing_author_name: link_to(@conversation.author.name, @conversation.author)).html_safe
  - else
    - link_to(listing_title, @conversation.listing)
- else
  - long_title = t("conversations.show.conversation_with", person: link_to(other_party.name, other_party)).html_safe
  - short_title = t("conversations.show.conversation_with", person: link_to(other_party.name, other_party)).html_safe

.centered-section-wide
  .message-avatar-padding
    .row.without-margin
      .col-12
        %h2= long_title

        - unless free_conversation?
          = render :partial => "details"



  .message-avatar-padding.message-reply-form
    = form_for @conversation, :url => person_messages_path(:person_id => @current_user.id) do |form|
      = fields_for "conversation[message_attributes]", Message.new do |message_form|
        .row
          .col-12
            - if @conversation.status.eql?("free")
              = message_form.label :content, t(".send_message_to_user", :person => other_party.given_name_or_username)
            - else
              = message_form.label :content, t(".optional_message", :person => other_party.given_name_or_username)
            = message_form.text_area :content, :class => "reply_form_text_area"
            = message_form.hidden_field :sender_id, :value => @current_user.id

      - unless free_conversation?
        .row
          .col-12
            = t(".author_has_to_accept_request", author_name: link_to(@conversation.author.name, @conversation.author)).html_safe

      - if @listing
        = form.hidden_field :listing_id, :value => @listing.id

      - if free_conversation?
        = form.hidden_field :status, :value => "free"

      .row
        .col-12
          - if free_conversation?
            = form.button t(".send_message")
          - else
            = form.button @listing.transaction_type.action_button_label(I18n.locale)


/ #new_message_form.centered-section
/   - if free_conversation?
/     %h2= t(".send_message_to_user", :person => @target_person.given_name_or_username)
/   - elsif @listing.transaction_type.action_button_label(I18n.locale)
/     %h2
/       = @listing.transaction_type.action_button_label(I18n.locale)
/       = link_to(@listing.title, @listing)

/   %p
/     = t(".this_message_is_private", :person => @target_person.given_name_or_username)
/     - if free_conversation?
/       = t(".you_will_get_notified", :person => @target_person.given_name_or_username)
/     - else
/       = t(".you_will_get_notified_of_acceptance", :person => @target_person.given_name_or_username)
/   = form_for @conversation, :url => person_messages_path(:person_id => @current_user.id) do |form|

/     = fields_for "conversation[message_attributes]", Message.new do |message_form|
/       = message_form.label :content, t('.message')
/       = message_form.text_area :content, :class => "text_area"
/       = message_form.hidden_field :sender_id, :value => @current_user.id

/     = hidden_field_tag "conversation[conversation_participants][#{@current_user.id}]", true
/     = hidden_field_tag "conversation[conversation_participants][#{@target_person.id}]", false
/     - if @listing
/       = form.hidden_field :listing_id, :value => @listing.id
/     - if free_conversation?
/       = form.hidden_field :status, :value => "free"
/     - if params[:profile_message]
/       = hidden_field_tag "profile_message", params[:profile_message]
/       = hidden_field_tag "target_person_id", @target_person.id
/     - if params[:comment_message]
/       = hidden_field_tag "comment_message", params[:comment_message]
/       = hidden_field_tag :listing_id, @listing.id
/       = hidden_field_tag "target_person_id", @target_person.id
/     = form.hidden_field :community_id, :value => @current_community.id
/     = form.button t(".send_message"), :class => "send_button"
